*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.leader-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #02025F;
    padding: 5rem 1rem ;
    gap: 2rem;
    color: #fff;

}

.leader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    border: 5px solid;
    border-image: linear-gradient(45deg, rgb(8, 173, 214), rgb(23, 11, 189));
    border-image-slice: 1;
    gap: .5rem;
}

.item-board{
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem;
    max-width: 700px;
}

.item-indexBox{
    display: flex;
    justify-content: center;
    width: 40px; 
    height: 40px;
}

.item-image{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.image-container{
    display: flex;
    align-items: center;
    margin: 0 .5rem 0 2rem;
}

.link-score{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-width: 100px;
    background: radial-gradient(#f04e66, rgb(195, 17, 223), rgb(14, 3, 223));
    padding: .5rem 1.5rem;
    border-radius: 30px;
}

.user-score{
    margin-right: 1rem;
}

.user-name{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
}

.first-item{
    background-image: url('../medal.png');
    background-size: cover;
    background-position: center;

}

.first-item h2{
    position: relative;
    top: -2px;
    color: rgb(255, 34, 5);
}

.second-item{
    background-image: url('../silver-medal.png');
    background-size: cover;
    background-position: center;
    width: 50px; 
    height: 50px;
}

.second-item h2{
    position: relative;
    top: 2px;
    color: rgb(44, 44, 44);
}

.third-item{
    background-image: url('../bronze.png');
    background-size: cover;
    background-position: center;
}

.third-item h2{
    position: relative;
    top: -3px;
    color: rgb(29, 28, 23);
}

@media (width <= 678px) {
    .item-image{
        height: 45px;
        width: 45px;
    }
    
    .image-container{
        margin: 0 .3rem 0 .7rem;
    }

    .user-score{
        margin-right: 0rem;
    }
    
    .user-name{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 15px;
    }

    .leader-container{
        padding: 0rem;
        gap: 0;
    }

    .link-score{
        padding: .2rem 1rem;
    }
}